body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}

.Name-ht{
    color: green;
}

.half-portion{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-portion img{
    width: 100%;
}